<!DOCTYPE html>
<html>
  <head>
    <title>MyAnimeRec</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    <nav class="navbar-home">
      <a href="#top" class="nav-button-home">Home</a>
      <a href="#discord-bot" class="nav-button-home">Discord Bot</a>
      <a href="#about" class="nav-button-home">About</a>
      <a href="#support" class="nav-button-home">Support the Project</a>
    </nav>

    <div class="background-image"> </div>
    <div class="main-search">
      <h1 class="title">MyAnimeRec</h1>
      <form method="post">
        <input type="text" class="search-bar" name="search" placeholder="Enter one or more MyAnimeList usernames separated by whitespace...">
        <button type="submit" style="display: none;"></button>
      </form>
      {%if error %}
        <p class="error"> There was a problem with your request <br>
        Can you double check the spelling of your username? </p>
      {% endif %}
    </div>

  <section id="discord-bot" class="section">
    <div class="section">
      <h2 class="section-title">
        <img src="../static/pics/discord.png" alt="Discord Logo" class="logo">
        Discord Bot</h2>
      <div class="section-content">
        <p class="section-text">
          MyAnimeRec is also available as a Discord Bot. Click the 'Invite Me' button to add it to your server!
        </p>
        <img src="../static/pics/luffy-pic.png" alt="Discord Bot Image" class="section-image">
        <a href="https://discord.com/oauth2/authorize?client_id=1118954727732944957&permissions=19456&scope=bot" target="_blank" rel="noopener noreferrer">
          <button class="invite-button">Invite Me</button>
        </a>
        <p class="section-text explanation-text">
          The bot supports the following commands:
        </p>
        <ul class="command-list">
          <li class="command-item"><span class="command-text">!rec &lt;username&gt;</span> - Get 10 recommendations for a MAL username.</li>
          <li class="command-item"><span class="command-text">!rec &lt;username&gt; &lt;username&gt;...</span> - Get 10 recommendations for multiple usernames simultaneously (no limit).</li>
          <li class="command-item"><span class="command-text">p!rec &lt;username&gt;...</span> - Receive the recommendations privately.</li>
        </ul>
      </div>
    </div>
  </section>

    <div class="section-separator1"></div>

    <section id="about" class="section">
    <div class="section">
      <h2 class="section-title">
        <img src="../static/pics/github.png" alt="Github Logo" class="logo">
        About</h2>
      <div class="section-content">
        <p class="section-text">
          Hello everyone! My name is Mehdi and I am a college student who is passionate about
          Data Science and Anime. <br> <br>
          As you can probably tell, my favorite anime character is.. Luffy from One Piece.
          I connect with him on so many levels because of the values and ideals he embodies.
          From his pursuit of freedom to his determination and perseverance, and how he values
          friendship and loyalty. I strive to become like him, spread kindness around me, and enjoy
          the simple things in life. <br> <br>
          I made this project because MAL only has a recommendation system based on user contribution,
          which I think is hard to navigate. I also wanted to practice my coding skills. <br> 
          MyAnimeRec also allows you to get common recommendations for an unlimited number of users
          (if you want to organize a watch party)<br> <br>
          Currently, it is running on a simple system based on the similarity of genres and synopsis.
          (More details in the Github repo). My goal with MyAnimeRec is to progressively improve it 
          as we gain more users, and move to a collaborative filtering approach or a more advanced content-based system (or both).
        </p>
        <a href="https://github.com/zaidmehdi/my-anime-recommender" target="_blank" rel="noopener noreferrer">
          <button class="github-button">GitHub Repo</button>
        </a>
      </div>
    </div>
    </section>

    <div class="section-separator2"></div>

    <section id="support" class="section">
    <div class="section">
      <h2 class="section-title">Support the Project</h2>
      <div class="section-content">
        <p class="section-text">
          You can support the project by sharing it with other anime fans/ MyAnimeList users. <br>
          <br> You can also leave us some feedback by filling out this form.
        </p>
        <a href="https://forms.gle/U1XSen4AeAii1iyT9" target="_blank" rel="noopener noreferrer">
          <button class="form-button">Feedback Form</button>
        </a>
        <p class = "section-text">Thank you for reading this, and I hope you enjoy MyAnimeRec! :D <br> <br>
        Feel free to reach out to me on Discord: herrrolii</p>
        <a href="#top" class="scroll-to-top-button">Go Back to Top</a>
      </div>
    </div>
    </section>
    <div class="section-separator3"></div>
  </body>
</html>
