<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

  <div class="background-image">
    <h1 class="title">MyAnimeRec</h1>
    <form>
      <input type="text" class="search-bar" placeholder="Enter one or more MyAnimeList usernames separated by whitespace...">
    </form>
  </div>

  <div class="section">
    <h2 class="section-title">Discord Bot</h2>
    <div class="section-content">
      <p class="section-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis augue id sem interdum aliquam.
        Phasellus ac tincidunt quam, id ullamcorper lorem. Mauris non pulvinar erat, eu auctor dolor. Quisque
        consequat condimentum tortor, sit amet malesuada odio faucibus at. Aenean finibus sagittis velit, ut
        fermentum felis finibus ut. Integer efficitur nibh sed luctus vestibulum. Ut eu libero tristique, placerat
        neque nec, venenatis urna. Suspendisse a facilisis leo. Donec tincidunt diam at orci varius, sit amet
        dignissim tellus dignissim. Pellentesque vel erat finibus, ultrices purus sed, rutrum ex. Curabitur quis
        finibus tortor, nec lobortis purus.
      </p>
      <img src="../static/pics/discord-bot.png" alt="Discord Bot Image" class="section-image">
    </div>
  </div>

</body>
</html>
