<!DOCTYPE html>
<html>

  <head>
    <title>MyAnimeRec - Recommendations</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>

  <body>
    <div class="navbar">
      <form method="GET" action="{{ url_for('home') }}">
        <button type="submit"><i class="fas fa-home"></i></button>
      </form>
      <form method="POST" action="{{ url_for('rec_results') }}">
        <input type="text" class="search-bar" name="search" placeholder="Enter one or more MyAnimeList usernames separated by whitespace...">
        <button type="submit" style="display: none;"></button>
      </form>
    </div>

    {%if error %}
        <p class="error"> There was a problem with your request <br>
        Can you double check the spelling of your username? </p>
    {% else %}

    <h2> Hello {{ usernames }}! <br>
      Based on your favorite animes, you might also like:
    </h2>

    <div class="card-container">
      {% for anime in animes %}
          <a href="{{ anime.link }}" class="card" target="_blank" rel="noopener noreferrer">
              <img src="{{ anime.picture }}" alt="{{ anime.title }}">
              <p>{{ anime.title }}</p>
              <div class="overlay">
                <p> Genres: {{ anime.genres }}</p>
                <p>N° of episodes: {{ anime.num_episodes }}</p>
              </div>
          </a>
      {% endfor %}
    </div>
    {% endif %}

  </body>
</html>
